.profile {
  display: flex;
  flex-direction: column;
}

.profile__avatart {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #f1e1ca;
}

.profile__title {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
