:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f1e1ca;
  padding: 50px 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 30px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: #fff;
  background-color: rgb(249, 243, 238);
  border-radius: 30px;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.shelf {
  display: flex;
  position: relative;
}

.shelf__left {
  padding-left: 30px;
  width: 26%;
}

.shelf__left-title {
  font-size: 40px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
}

.shelf__left-text {
  color: #696969;
}

.shelf__right {
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.shelf-item {
  z-index: 1;
  width: 100%;
  height: 12px;
  bottom: 30px;
  background-color: rgb(248, 243, 237);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 20px;
}

.shelf-item::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(236, 229, 219);
  clip-path: polygon(2% 60%, 98% 60%, 100% 100%, 0% 100%);
}
